/* Regular / 400 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium / 600 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Extra Bold / 900 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-ExtraBold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Colors */
:root {
    --gradient : to bottom right, var(--primary), var(--background);
}
:root[data-theme="light"] {
    --text: #0e1620;
    --background: #eaeff6;
    --primary: #2a3d5b;
    --secondary: #b188c8;
    --accent: #9d4ca4;
    --themes: url(../imgs/dark_mode.svg);
    --logo: url(../imgs/light_logo.png);

}
:root[data-theme="dark"] {
    --text: #dfe7f1;
    --background: #090e15;
    --primary: #a4b7d5;
    --secondary: #5f3777;
    --accent: #ac5bb3;
    --themes: url(../imgs/light_mode.svg);
    --logo: url(../imgs/dark_logo.png);
}

/* Reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
a {
    text-decoration: none;
    color: var(--text);
}
a:hover {color: var(--accent);}
body {
    font-family: "Inter";
    color: var(--text);
}

/* Reusable code */
/* navbar */
.flexed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.center {text-align: center;}
.sectionTitle {width: max-content; margin: 72px  0 !important; position: relative !important; align-self: center;}
.sectionTitle::before, .sectionTitle::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 45%;
    width: 15px;
    height: 15px;
    background-color: var(--text);
}
.sectionTitle::before {left: -28px;}
.sectionTitle::after {right:  -28px;}
/* Show card */
.showcard {
    padding: 32px;
    width: clamp(290px, 200px + 25vw, 650px);
    background-image: linear-gradient(var(--gradient));
    border-radius: 16px;
    transition: all .2s ease-in-out;

}
.showcard:hover {border-radius: 16px 100px 16px 100px;}

.date {font-size: 18px; font-weight: 900;color: var(--background);}
.name {font-size: 32px; font-weight: 900; margin: 16px 0;}
.place {font-size: 18px;font-weight: 900;color: var(--background);}
.breif {font-size: 18px;font-weight: 600; margin-top: 28px;}
/* ===================================== */
/* Service card */
.serviceCard {
    padding: 24px;
    width: clamp(290px, 200px + 25vw, 650px);
    background-image: linear-gradient(var(--gradient));
    border-radius: 16px;
    transition: all .2s ease-in-out;
    height: 350px;
}
.serviceCard:hover {border-radius: 16px 100px 16px 100px;}
.serviceImg {
    height: 150px;
    width: 100%;
}
.serviceImg img {height: 100%;}
/* ===================================== */
/* Project card */
.projectCard {
    padding: 24px;
    width: clamp(300px, 200px + 15vw, 650px);
    background-image: linear-gradient(var(--gradient));
    border-radius: 16px;
    transition: all .2s ease-in-out;
    min-height: 400px;
}
.projectCard:hover {border-radius: 16px 100px 16px 100px;}
.projectImg {height: 200px; position: relative;}
.projectImg img {height: 100%;}
.tech {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 32px; 
    font-weight: 900;
}
.tech > div {
    padding: 10px 15px;
    border-radius: 48px;
    border: 3px solid;
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--background);

}
.filter {
    padding: 24px 24px 0 24px;
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -24px;
    left: -24px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--background);
    backdrop-filter: blur(9.6px);
    opacity: 0;
    transition: all .2s ease-in-out;
}
.projectCard:hover .filter {opacity: .9;}
/* ===================================== */
.navcircle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.section {
    min-height: 100dvh;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.header {
    font-size: clamp(40px, 30px + 3vw, 120px);
    color: var(--text);
    font-weight: 900;
    margin-bottom: 24px;
}
.subheader {
    font-size: clamp(30px, 10px + 3vw, 110px);
    color: var(--text);
    font-weight: 600;
}
.text {
    font-size: clamp(24px, 14px + 1dvw, 48px);
    color: var(--text);
    font-weight: 400;
    line-height: 1.6;
}
.highlight {
    display: inline-block;
    color: var(--accent);
    width: max-content;
}
.breif .highlight {font-weight: 900;}
.typed-cursor {
    font-size: clamp(35px, 15px + 3vw, 115px);
    color: var(--accent);
}
.btn {
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: calc(200px + 10vw);
    color: var(--text);
    background-color: var(--primary);
    padding: 25px 10px;
    border: 2px solid var(--primary);
    border-radius: 48px;
    font-size: clamp(20px, 10px + 2vw, 27px);
    margin-top: 48px;
    position: relative;
    transition: all 0.4s ease-in-out;
}
.btn::before, .btn::after {
    content: "";
    position: absolute;
    top: 45%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background);
    transform: scale(0);
    transition: transform .25s ease-in-out;
}
.btn::before {left: 24px;}
.btn::after {right: 24px;}
.btn:hover {
    background-color: var(--background);
}
.btn:hover::before, .btn:hover::after {
    transform: scale(1);
    background-color: var(--primary);
}

/* Main Container */
.container {
    min-height: 100dvh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NavBar */
.navbar {
    background-image: linear-gradient(var(--gradient)) ;
    height: 100px;
    width: 95%;
    position: fixed;
    z-index: 10;
    top: 20px;
    border-radius: 72px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navimg {
    background: var(--logo) center/cover no-repeat;
    background-color: var(--background);
}
.Toggle-theme {
    background: var(--themes) center/70% no-repeat;
    cursor: pointer;
}
.navlinks {
    display: flex;
    gap: 10px;
    font-weight: 900;
    flex-wrap: wrap;
    width: calc(100% - 170px);
    justify-content: center;
    align-content: center;
}
/* Hero */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 150px;
}
#hero {
    border-radius: 32px;
    display: flex;
    width: 95%;
    min-height: 70dvh;
    padding: 15px;
    gap: 20px;
}
.heroImg {
    background: var(--logo) center/cover no-repeat;
    background-color: var(--background);
    border-radius: 50%;
    width: clamp(270px, 150px + 22dvw, 700px);
    height: clamp(270px, 150px + 22dvw, 700px);
}
#heroImgContainer {
    flex: 1;
    display: grid;
    place-items: center;
}
#hero .info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.arrow {
    position: relative; 
    height: calc(28dvh - 160px);
    width: 50px;
    margin-top: 24px;
}
.arrow svg {
    position: absolute;
    fill: var(--secondary);
    animation: up-down 1s ease-in-out infinite;
}
@keyframes up-down {
    0%, 100% {top: 0%;}
    50% {top: 50%;}
}

/* About */
#about {display: flex; flex-direction: column;}
.about {display: flex; flex-direction: column;}
.about .btn {display: block; align-self: center;}
.about .btn i {
    position: absolute;
    color: var(--accent);
    display: inline-block;
    margin-left: 12px;
    animation: download 1s ease-in-out infinite;
}
@keyframes download {
    0%, 100% {top: 25%;}
    50% {top: 50%;}
}

.skills {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skillcard {
    width: max(150px, 100px + 7vw);
    height: calc(max(150px, 100px + 7vw) + 50px);
}

.skillimg {
    background-image: linear-gradient(var(--gradient));
    border-radius: 28px;
    height: max(150px, 100px + 7vw);
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    display: grid;
    place-items: center;

}
.skillimg img {
    width: 65%;
}
.skillcard:hover .skillimg{
    border-radius: 50%;
}
.skillname {
    color: var(--text);
    text-align: center;
    font-weight: 900;
}
/* work */
.achivements .projectCard {display: flex;flex-direction: column; align-items: center; gap: 10px;}
.achivements a {color: var(--accent) !important; font-size: 24px;}
.achivements .projectImg {display: flex; justify-content: center;}
.achivements .date {color: var(--text);}
/* =========================================================== */
/* contact */
.contact {
    display: flex;
    gap: 50px;
}
i {margin-right: 16px;}
.socials i {
    font-size: 32px;
    margin-top: 72px;
}
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
form input, textarea {
    background-color: transparent;
    color: var(--text);
    font-size: 21px;
    outline: none;
    border: 3px solid var(--text);
    border-radius: 48px;
    width: clamp(300px, 150px + 30vw, 800px);
    padding: 16px 24px;
    font-family: "Inter";
    font-weight: 900;
}
textarea {
    resize: vertical;
}
@media (max-width: 680px) {
    #hero {
        flex-direction: column;
        padding-bottom: 48px;
    }
    .contact {flex-direction: column-reverse;}
    .contact textarea, .contact input {width: 90%;}
    .contactInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact {padding-bottom: 24px;}
}
@media (max-width: 424px) {
    .sectionTitle {
        width: 100%;
    }
    .sectionTitle::before {left: 0;}
    .sectionTitle::after {right: 0;}
}