/* Regular / 400 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium / 600 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Extra Bold / 900 */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-ExtraBold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Colors */
:root[data-theme="light"] {
    --text: #0e1620;
    --background: #eaeff6;
    --primary: #2a3d5b;
    --secondary: #b188c8;
    --accent: #9d4ca4;
    --themes: url(../imgs/dark_mode.svg);
    --logo: url(../imgs/light_logo.png);

}
:root[data-theme="dark"] {
    --text: #dfe7f1;
    --background: #090e15;
    --primary: #a4b7d5;
    --secondary: #5f3777;
    --accent: #ac5bb3;
    --themes: url(../imgs/light_mode.svg);
    --logo: url(../imgs/dark_logo.png);
}

/* Reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--text);
}
a:hover {color: var(--accent);}
body {
    font-family: "Inter";
}

/* Reusable code */
/* navbar */
.navcircle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* Main Container */
.container {
    min-height: 300dvh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NavBar */
.navbar {
    background-image: linear-gradient(to bottom right, var(--primary), var(--background)) ;
    height: 100px;
    width: 95%;
    position: fixed;
    top: 20px;
    border-radius: 72px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navimg {
    background: var(--logo) center/cover no-repeat;
    background-color: var(--background);
}
.Toggle-theme {
    background: var(--themes) center/70% no-repeat;
    cursor: pointer;
}
.navlinks {
    display: flex;
    gap: 10px;
    font-weight: 900;
    flex-wrap: wrap;
    width: calc(100% - 170px);
    justify-content: center;
    align-content: center;
}